name: Android CI

on:
  [pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nova-wallet/build_tools:pr-3
      credentials:
        username: stepanLav
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Lint
        run: ./gradlew ktlint

      - name: Unit tests
        run: ./gradlew testDebugUnitTest
